accelerate==1.2.1
aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiohttp-retry==2.8.3
aiosignal==1.3.2
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
ansi2html @ file:///D:/bld/ansi2html_1726555651440/work
anthropic==0.43.0
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1736174388474/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1733311059102/work
argon2-cffi-bindings @ file:///D:/bld/argon2-cffi-bindings_1725356669592/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1733584251875/work
asgiref==3.8.1
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
async-lru @ file:///home/conda/feedstock_root/build_artifacts/async-lru_1733584297267/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1734348785146/work
babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1733236348445/work
backoff @ file:///home/conda/feedstock_root/build_artifacts/backoff_1733771078379/work
bcrypt==4.2.1
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1733230845337/work
bitsandbytes==0.45.0
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1736148489770/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
Brotli @ file:///D:/bld/brotli-split_1725267609074/work
build==1.2.2.post1
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools==5.5.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1734380492396/work/certifi
cffi @ file:///D:/bld/cffi_1725560706917/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
chroma-hnswlib==0.7.6
chromadb==0.5.20
click @ file:///D:/bld/click_1734858834134/work
clickhouse-connect @ file:///D:/bld/clickhouse-connect_1736874399820/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
coloredlogs @ file:///home/conda/feedstock_root/build_artifacts/coloredlogs_1733927977068/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
contourpy @ file:///D:/bld/contourpy_1731428338786/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
dash @ file:///home/conda/feedstock_root/build_artifacts/dash_1734247674276/work
dataclasses-json==0.6.7
datasets==3.2.0
debugpy @ file:///D:/bld/debugpy_1734158947861/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1733236420667/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
Deprecated==1.2.15
dill==0.3.8
distro==1.9.0
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1733256735222/work
duckdb @ file:///D:/bld/python-duckdb-split_1730798321624/work/tools/pythonpkg
durationpy==0.9
email_validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1733300719943/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1733327148154/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
faiss==1.9.0
faiss-cpu==1.9.0.post1
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1733362299471/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/fastapi-cli_1734302308128/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1733235979760/work/dist
feedparser==6.0.11
ffmpy==0.5.0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1733240801289/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1731556349671/work
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1736586938832/work
fonttools @ file:///D:/bld/fonttools_1735335830576/work
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1733327382592/work/dist
frozenlist==1.5.0
fsspec==2024.9.0
gensim==4.3.3
google-ai-generativelanguage==0.6.10
google-api-core==2.24.0
google-api-python-client==2.159.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.66.0
gradio==5.12.0
gradio_client==1.5.4
greenlet==3.1.1
grpcio==1.69.0
grpcio-status==1.69.0
grpclib==0.4.7
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1733327467879/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1733298745555/work
hnswlib @ file:///D:/bld/hnswlib_1732136476073/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1733299205993/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1731707562/work
httplib2==0.22.0
httptools @ file:///D:/bld/httptools_1732707690819/work
httpx==0.27.2
httpx-sse==0.4.0
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1736350098712/work
humanfriendly @ file:///D:/bld/humanfriendly_1733927963288/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1733298771451/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1733223117029/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
ipykernel @ file:///D:/bld/ipykernel_1719845595208/work
ipython @ file:///D:/bld/ipython_1734788189411/work
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1733493556527/work
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1733493628631/work/dist
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1733308265247/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1734823942230/work
jiter==0.8.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1733736026804/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1733272076743/work
jsonpatch==1.33
jsonpointer @ file:///D:/bld/jsonpointer_1725302960531/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1733472696581/work
jsonschema-specifications @ file:///tmp/tmpk0f344m9/src
jupyter-dash @ file:///home/conda/feedstock_root/build_artifacts/jupyter-dash_1648919001274/work
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/jupyter_events_1734531682843/work
jupyter-lsp @ file:///home/conda/feedstock_root/build_artifacts/jupyter-lsp-meta_1733492907176/work/jupyter-lsp
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///D:/bld/jupyter_core_1727163532151/work
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1734702637701/work
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1733427956852/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1734539168769/work
jupyterlab_pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1733328101776/work
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1733599573484/work
jupyterlab_widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1733428046021/work
kiwisolver @ file:///D:/bld/kiwisolver_1725459295513/work
kubernetes==31.0.0
langchain==0.3.14
langchain-chroma==0.2.0
langchain-community==0.3.14
langchain-core==0.3.29
langchain-ollama==0.2.2
langchain-openai==0.3.0
langchain-text-splitters==0.3.5
langsmith==0.2.10
lz4 @ file:///D:/bld/lz4_1733474264612/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
MarkupSafe==2.1.5
marshmallow==3.25.1
matplotlib==3.10.0
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1735686876364/work
mmh3==5.0.1
modal==0.72.20
monotonic @ file:///home/conda/feedstock_root/build_artifacts/monotonic_1734029696393/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
multidict==6.1.0
multiprocess==0.70.16
munkres==1.1.4
mypy-extensions==1.0.0
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1734628800805/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1736258671456/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1733402752141/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1733408315203/work
numpy @ file:///D:/bld/numpy_1707225528937/work/dist/numpy-1.26.4-cp311-cp311-win_amd64.whl#sha256=537f0573fefb1e93b3633e8a79102e6b6d2911e09e0a90008993efef4242448e
oauthlib==3.2.2
ollama==0.4.6
onnxruntime==1.20.1
onnxruntime-gpu @ file:///C:/Users/mark/miniforge3/conda-bld/onnxruntime_1735402637069/work/build-ci/Release/dist/onnxruntime_gpu-1.20.1-cp311-cp311-win_amd64.whl#sha256=6ae5b6dc2180cbfb79999dda9a4f11f7585329a129e3ba7020f324c33fa7d265
openai==1.59.7
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp-proto-common==1.29.0
opentelemetry-exporter-otlp-proto-grpc==1.29.0
opentelemetry-instrumentation==0.50b0
opentelemetry-instrumentation-asgi==0.50b0
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-proto==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
opentelemetry-util-http==0.50b0
orjson==3.10.14
overrides @ file:///home/conda/feedstock_root/build_artifacts/overrides_1734587627321/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///D:/bld/pandas_1726878554493/work
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///D:/bld/pillow_1735929725088/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1733344503739/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1733733072265/work
posthog @ file:///home/conda/feedstock_root/build_artifacts/posthog_1726036274425/work
prometheus_client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1733327310477/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1733302527033/work
propcache==0.2.1
proto-plus==1.25.0
protobuf @ file:///D:/bld/protobuf_1731370604145/work/bazel-bin/python/dist/protobuf-5.28.3-cp311-abi3-win_amd64.whl#sha256=ddfb880722edfbae606946d3781344d9fe8fd883aec678bfc26d3cec95f9cb14
psutil @ file:///D:/bld/psutil_1735327360263/work
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1736458246045/work
pydantic-settings==2.7.1
pydantic_core @ file:///D:/bld/pydantic-core_1734571360609/work
pydub==0.25.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
PyJWT==2.10.1
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
PyPika==0.48.9
pyproject_hooks==1.2.0
pyreadline3 @ file:///D:/bld/pyreadline3_1731584344504/work
PySide6==6.8.1
PySocks @ file:///D:/bld/pysocks_1733217287171/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1733243180666/work
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1677079630776/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1734420773152/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
pywin32==307
pywinpty @ file:///D:/bld/pywinpty_1729201108655/work/target/wheels/pywinpty-2.0.14-cp311-none-win_amd64.whl#sha256=68e452484e10bc20cbcabaa0d02d9760ac54a5dd92adb43da63ef5f9ac2b666e
PyYAML @ file:///D:/bld/pyyaml_1725456353121/work
pyzmq @ file:///D:/bld/pyzmq_1728642364379/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1733366743674/work
regex==2024.11.6
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retrying @ file:///home/conda/feedstock_root/build_artifacts/retrying_1721646300555/work
rfc3339_validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1733599910982/work
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1733342254348/work/dist
rich-toolkit @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich-toolkit_1733750834/work
rpds-py @ file:///D:/bld/rpds-py_1733366664781/work
rsa==4.9
ruff==0.9.2
safehttpx==0.1.6
safetensors==0.5.2
scikit-learn @ file:///D:/bld/scikit-learn_1736496780928/work/dist/scikit_learn-1.6.1-cp311-cp311-win_amd64.whl#sha256=b8f37c282c66c737a09228918d0bfcadafb9f1d4bfb1dc6289040870d453703b
scipy==1.13.1
semantic-version==2.10.0
Send2Trash @ file:///D:/bld/send2trash_1733322089150/work
sentence-transformers==3.3.1
sentencepiece @ file:///D:/bld/sentencepiece-split_1735627535145/work/python
sgmllib3k==1.0.0
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
shiboken6==6.8.1
sigtools==4.0.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smart-open==7.1.0
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
speedtest-cli==2.1.3
SQLAlchemy==2.0.37
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette_1733344384719/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1736248181614/work
synchronicity==0.9.8
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1733649050774/work
terminado @ file:///D:/bld/terminado_1710262761616/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
tiktoken==0.8.0
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1729802851396/work
tokenizers @ file:///D:/bld/tokenizers_1732733984122/work/bindings/python
toml==0.10.2
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
tomlkit==0.13.2
torch @ file:///C:/bld/libtorch_1736880243185/work
tornado @ file:///D:/bld/tornado_1732615900055/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformers==4.48.0
twilio==9.4.3
typer==0.15.1
typer-slim==0.15.1
types-certifi==2021.10.8.3
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1733612335562/work
types-toml==0.10.8.20240310
typing-inspect==0.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
typing_utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1733331286120/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1733235305708/work
unicodedata2 @ file:///D:/bld/unicodedata2_1736692523011/work
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1733323593477/work/dist
uritemplate==4.1.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
uvicorn @ file:///D:/bld/uvicorn_1734292951833/work
watchfiles @ file:///D:/bld/watchfiles_1736550434446/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1733359735138/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1733236011802/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1733157342724/work
websockets @ file:///D:/bld/websockets_1731498649222/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1733160440960/work
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1733128559935/work
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
wrapt==1.17.2
xxhash==3.5.0
yarl==1.18.3
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.23.0
